<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>NeoMolecule</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" />
    

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.7.0/cytoscape.js" />

</head>
<style>
    #graph {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>
<body>
	<div id="graph"></div>
	<script>
		var cy = cytoscape({
			container : document.getElementById("graph"),
			elements : [ {
				data : {
					id : 'a'
				}
			}, {
				data : {
					id : 'b'
				}
			}, {
				data : {
					id : 'ab',
					source : 'a',
					target : 'b'
				}
			} ]
		});
	</script>
</body>
</html>